<h1>Detalles del Comentario</h1>

<p><strong>Nombre:</strong> <%= @comment.name %></p>
<p><strong>Descripción:</strong> <%= @comment.description %></p>
<!-- Otros detalles del comentario, si los hay -->
<h1>New Comment</h1>

<%= render 'form' %>

<%= link_to 'Back', article_path(@article) %>
